/* COSE MIE*/

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  word-break: break-all;
  text-align: justify;
}

header {
  background-color: rgb(190, 215, 236);
  padding: 1em 0.5em;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

footer {
  background-color: rgb(190, 215, 236);
  bottom: 0;
  color: black;
  height: 4em;
  left: 0;
  padding: 1em;
  right: 0;
  text-align: center;
}

a {
  color: inherit;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0 !important;
}

button, html [type=button] {
  -webkit-appearance: button;
  -moz-appearance: button;
}

.flex-container {
  display: flex;
  flex-direction: row; /* dispone gli items in riga */
  flex-wrap: wrap; /* se non ci stanno in una riga va a capo */
  justify-content: flex-start; /* allinea orizzontalmente gli items di una riga */
  align-items: flex-start; /* allinea verticalmentegli elementi di una riga */
  align-content: flex-start; /* allinea righe multiple */
}

.flex-item {
  order: 0;
  text-align: center;
  padding: 0.7em;
  margin: 0.5em;
  background-color: #97ec36;
  min-height: 5em;
  flex: 1 1 auto;
  max-width: 33%;
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  background-color: #93ebf3 !important;
  border-radius: 0.5em;
  color: black;
}

.card-container {
  padding: 0.01em 1em;
}

.card:hover {
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.card-subtitle {
  font-size: 90%;
  color: blueviolet;
}

#root, #app {
  min-height: 100%;
}

.panel-footer {
  overflow: hidden;
}

.navbar {
  margin: 0 !important;
}

.button-toolbar {
  margin: 0 30%;
}

/* così lo spinner è al centro del Jumbotron */
main {
  min-height: 100%;
  position: relative;
}

.jumbotron-main {
  padding: 1em 0.5em;
}

.gliph-text {
  margin: auto 0.5em auto auto;
}

/* .invisible {
  visibility: hidden;
} */

.welcome-page-blank {
  height: 400px;
  display: block;
}

.welcome-image {
  display: block;
  margin: 30px 100px;
  background-image: url('./img/welcome.png');
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
}

.tabsbar {
  border-bottom: 1px solid white;
}

.tab-inline-block {
  display: inline-block;
  border: none;
}

.searchbar {
  display: block;
  margin-left: 70%;
}

label {
  display: inline;
}

@media (max-width: 900px) {
  .searchbar {
    margin-left: 6em;
  }
}

@media screen and (max-width: 600px) {
  .tab-inline-block {
    display: block !important;
  }

  .tab-inline-block.pull-right {
    float: none !important;
  }

  .flex-item {
    max-width: 100%;
  }

  main, footer {
    max-height: unset;
  }
}

/* Accessibility rules AAA*/

button.btn {
  font-weight: 500 !important;
}

/* LINK DELLA NAVBAR */

/* .active a {
  background-color: rgb(228, 205, 77) !important;
  background-image: none !important;
  /*pointer-events: none !important;
} */

nav li.active {
  background-color: rgb(228, 205, 77) !important;
  margin: 0;
}

nav li.active p {
  color: black !important;
  margin: 0 !important;
  padding: 15px 15px !important;
}

/* occorre per il Brand link che non è inserito in un <li> */
nav p.active {
  background-color: rgb(228, 205, 77) !important;
  margin: 0 !important;
  color: black !important;
}

.text-left {
  text-align: left;
}

.checked {
  border: 3px solid orange;
}

/* CLASSI GENERICHE */
.center {
  text-align: center !important;
}


.calendar {
  width: 100% !important;
}

.login-submit {
  margin: 0.5em auto;
}

.help-block-error {
  color: red;
}

/* Bold paragraph for radio button group */
.radio-label {
  font-weight: bold;
}











/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */