/* COSE MIE*/

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  word-break: break-all;
  text-align: justify;
}

header {
  padding: 1em auto;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.flex-container {
  display: flex;
  flex-direction: row; /* dispone gli items in riga */
  flex-wrap: wrap; /* se non ci stanno in una riga va a capo */
  justify-content: flex-start; /* allinea orizzontalmente gli items di una riga */
  align-items: flex-start; /* allinea verticalmentegli elementi di una riga */
  align-content: flex-start; /* allinea righe multiple */
}

.flex-item {
  order: 0;
  text-align: center;
  padding: 0.7em;
  margin: 0.5em;
  background-color: #97ec36;
}

.card {
  position: relative;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  background-color: #36ec6d !important;
  border-radius: 0.5em;
  color: white;
}

.card-subtitle {
  font-size: 90%;
  color: blueviolet;
}

#root {
  height: 100%;
}

.navbar {
  margin: 0 !important;
}

.button-toolbar {
  margin: 0 30%;
}

/* LINK DELLA NAVBAR */

/* nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(209, 193, 50);
} */

.active a {
  background-color: rgb(228, 205, 77) !important;
  background-image: none !important;
  cursor: not-allowed !important;
}

.text-left {
  text-align: left;
}

.checked {
  border: 3px solid orange;
}

/* CLASSI GENERICHE */
.center {
  padding: 1em 20%; 
  text-align: center;
  height: 100%;
}


.calendar {
  width: 100% !important;
}

.login-form {
  padding: 2em 35%;
  text-align: left;
}

.login-submit {
  margin: 0.5em auto;
}

.help-block-error {
  color: red;
}










header {
  background-color: #222;
  color: white;
}

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}